In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("C:/Users/ASUS/Untitled Folder 2/Retail_data.xlsx")

In [4]:
df

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [5]:
df.info

<bound method DataFrame.info of     Code     StoreType  OperatingCost  Total_Sales  Total_Customers  Segment  \
0    1.0  Electronincs           21.0   2179474632              110        4
1    2.0       Apparel           21.0      5037027              110        4
2    3.0  Super Market           22.8   1437362017               93        1
3    4.0  Super Market           21.4   1495953548              110        1
4    NaN  Super Market           18.7   1883321582              175        2
5    6.0       Apparel           18.1   1420570094              105        1
6    7.0       Apparel           14.3   1374569510              245        4
7    8.0  Electronincs           24.4   1094166173               62        2
8    9.0  Electronincs           22.8   1182772215               95        2
9   10.0       Apparel           19.2    891982615              123        4
10  11.0  Super Market           17.8    427475654              123        4
11  12.0  Super Market           16.4   1101543654              180        3
12  13.0  Super Market           17.3    397305098              180        3
13  14.0       Apparel           15.2    960625804              180        3
14  15.0       Apparel           10.4    665220823              205        4
15   NaN  Electronincs           10.4   1070859930              215        4
16  17.0  Electronincs           14.7    755438818              230        4
17  18.0       Apparel           32.4    953515932               66        1
18  19.0  Super Market           30.4    962715247               52        2
19  20.0  Super Market           33.9    660175220               65        1
20  21.0  Super Market           21.5    672255327               97        1
21   NaN       Apparel           15.5   1333254147              150        2
22  23.0       Apparel           15.2    877566947              150        2
23  24.0  Electronincs           13.3    812748470              245        4
24  25.0  Electronincs           19.2    766522079              175        2
25  26.0       Apparel           27.3   1099171980               66        1
26   NaN  Super Market           26.0    711375353               91        2
27   NaN  Super Market           30.4    886631610              113        2
28  29.0  Super Market           15.8     22212234              264        4
29  30.0       Apparel           19.7    393363810              175        4
30  31.0       Apparel           15.0   1115016252              335        4
31  32.0  Electronincs           21.4   1237304404              109        2
32  31.0       Apparel           15.0   1115016252              335        4
33  32.0  Electronincs           21.4   1237304404              109        2

    Total number of estb  Product line sales as % of total sales
0                 361300                                    29.6
1                   2515                                     5.7
2                 200112                                     5.9
3                 229623                                     4.6
4                 270472                                    24.7
5                 176345                                     2.5
6                 176243                                     2.4
7                 147960                                     6.9
8                 193713                                    13.3
9                 106941                                     4.2
10                 34619                                     0.8
11                161210                                     5.8
12                 28056                                     1.5
13                 67150                                     3.3
14                 44954                                     5.6
15                 86686                                     1.3
16                 66825                                     5.2
17                 79578                                     2.9
18                 92225                                     7.4
19                 50812                                     4.1
20                 53500                                    12.1
21                168897                                     4.3
22                134880                                     5.8
23                 81065                                     2.1
24                 44545                                     1.1
25                131837                                     3.0
26                 57339                                     2.0
27                 74480                                     5.4
28                  4238                                    59.2
29                 17840                                     4.2
30                125658                                     7.5
31                123206                                     6.4
32                125658                                     7.5
33                123206                                     6.4  >

In [6]:
df.isnull()

,Code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,True,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,True,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False
26,True,False,False,False,False,False,False,False
27,True,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Code                                      5
StoreType                                 0
OperatingCost                             0
Total_Sales                               0
Total_Customers                           0
Segment                                   0
Total number of estb                      0
Product line sales as % of total sales    0
dtype: int64

In [11]:
df1= df.rename(columns={"Code":"store_code"})

In [12]:
df1

,store_code,StoreType,OperatingCost,Total_Sales,Total_Customers,Segment,Total number of estb,Product line sales as % of total sales
0,1.0,Electronincs,21.0,2179474632,110,4,361300,29.6
1,2.0,Apparel,21.0,5037027,110,4,2515,5.7
2,3.0,Super Market,22.8,1437362017,93,1,200112,5.9
3,4.0,Super Market,21.4,1495953548,110,1,229623,4.6
4,NaN,Super Market,18.7,1883321582,175,2,270472,24.7
5,6.0,Apparel,18.1,1420570094,105,1,176345,2.5
6,7.0,Apparel,14.3,1374569510,245,4,176243,2.4
7,8.0,Electronincs,24.4,1094166173,62,2,147960,6.9
8,9.0,Electronincs,22.8,1182772215,95,2,193713,13.3
9,10.0,Apparel,19.2,891982615,123,4,106941,4.2
10,11.0,Super Market,17.8,427475654,123,4,34619,0.8
11,12.0,Super Market,16.4,1101543654,180,3,161210,5.8
12,13.0,Super Market,17.3,397305098,180,3,28056,1.5
13,14.0,Apparel,15.2,960625804,180,3,67150,3.3
14,15.0,Apparel,10.4,665220823,205,4,44954,5.6
15,NaN,Electronincs,10.4,1070859930,215,4,86686,1.3
16,17.0,Electronincs,14.7,755438818,230,4,66825,5.2
17,18.0,Apparel,32.4,953515932,66,1,79578,2.9
18,19.0,Super Market,30.4,962715247,52,2,92225,7.4
19,20.0,Super Market,33.9,660175220,65,1,50812,4.1
20,21.0,Super Market,21.5,672255327,97,1,53500,12.1
21,NaN,Apparel,15.5,1333254147,150,2,168897,4.3
22,23.0,Apparel,15.2,877566947,150,2,134880,5.8
23,24.0,Electronincs,13.3,812748470,245,4,81065,2.1
24,25.0,Electronincs,19.2,766522079,175,2,44545,1.1
25,26.0,Apparel,27.3,1099171980,66,1,131837,3.0
26,NaN,Super Market,26.0,711375353,91,2,57339,2.0
27,NaN,Super Market,30.4,886631610,113,2,74480,5.4
28,29.0,Super Market,15.8,22212234,264,4,4238,59.2
29,30.0,Apparel,19.7,393363810,175,4,17840,4.2
30,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
31,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4
32,31.0,Apparel,15.0,1115016252,335,4,125658,7.5
33,32.0,Electronincs,21.4,1237304404,109,2,123206,6.4

In [15]:
df.loc[(df.OperatingCost > 30),["Code","StoreType","Total_Sales"]]

    Code     StoreType  Total_Sales
17  18.0       Apparel    953515932
18  19.0  Super Market    962715247
19  20.0  Super Market    660175220
27   NaN  Super Market    886631610